# Python CircleCI 2.0 configuration file
# Check https://circleci.com/docs/2.0/language-python/ for more details
version: 2
jobs:
  py35:
    docker:
      - image: circleci/python:3.5.5
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Pipfile.lock" }}
          - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            pip install pipenv
            pipenv install --three --ignore-pipfile
            pipenv install --three --dev --ignore-pipfile
      - save_cache:
          paths:
            - ./repo
          key: v1-dependencies-{{ checksum "Pipfile.lock" }}
      - run:
          name: run tests
          command: pipenv run pytest
  py36:
    docker:
      - image: circleci/python:3.6.4
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Pipfile.lock" }}
          - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            pip install pipenv
            pipenv install --three --ignore-pipfile
            pipenv install --three --dev --ignore-pipfile
      - save_cache:
          paths:
            - ./repo
          key: v1-dependencies-{{ checksum "Pipfile.lock" }}
      - run:
          name: run tests
          command: pipenv run pytest
  pypy35:
    docker:
      - image: pypy:3-5.10
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Pipfile.lock" }}
          - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            pip install pipenv==11.7.4
            pipenv install --python `which pypy3` --ignore-pipfile
            pipenv install --python `which pypy3` --dev --ignore-pipfile
      - save_cache:
          paths:
            - ./repo
          key: v1-dependencies-{{ checksum "Pipfile.lock" }}
      - run:
          name: run tests
          command: pipenv run pytest
  flake8:
    docker:
      - image: circleci/python:3.6.4
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Pipfile.lock" }}
          - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            pip install pipenv
            pipenv install --three --ignore-pipfile
            pipenv install --three --dev --ignore-pipfile
      - save_cache:
          paths:
            - ./repo
          key: v1-dependencies-{{ checksum "Pipfile.lock" }}
      - run:
          name: run tests
          command: pipenv run flake8 vo tests
  docs:
    docker:
      - image: circleci/python:3.6.4
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Pipfile.lock" }}
          - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            pip install pipenv
            pipenv install --three --dev --ignore-pipfile
      - save_cache:
          paths:
            - ./repo
          key: v1-dependencies-{{ checksum "Pipfile.lock" }}
      - run:
          name: build docs
          command: pipenv run make docs
workflows:
  version: 2
  test_all:
    jobs:
      - py35
      - py36
      - pypy35
      - flake8
      - docs